body {
    margin: 5px 35px ;
    padding: 0px;
    background-color: #e2e2e2;
}

a {
    text-decoration: none;
    color: black;
   
    
}

a:hover {
    color: white;
}

td i {
    color:white;
  
}

header h1 {
    display: flex;
    justify-content: center;
    padding: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, .2);
}
.form-control {
    width: 20%;
}
.form-select {
    width: 20%;
}
form div   {
    display: flex;
}
form div button{
    opacity: 50%;
}

.request_done {
    color: green;
}
.request_error {
    color :red;
}

.right {
    float: right;
}